::placeholder{
    color: #0400E4;
}
#Contacto{
    margin-top: 100px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#Contacto > form{
    position: relative;
    width: 1300px;
    height: 800px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 50px 50px 99px #0000005C;
    padding: 100px 150px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
}
#Contacto > form > h2{
    font-size: 28px;
    font-family: "Poppins-Bold";
    margin-bottom: 50px;
}
#Contacto > form > input, #Contacto > form > textarea,#Contacto > form > div > input{
    color: #0400E4;
    border: 1px solid;
    border-radius: 50px;
    border-color: #0400E4;
    padding: 15px 50px;
    font-size: 16px;
    font-family: "Poppins-Bold";
    box-sizing: border-box;
}
#nombre{
    width: 100%;
}
#Contacto > form > div{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
#correo, #tel{
    width: 48%;
}

#Contacto > form > textarea{
    padding: 30px 50px;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    resize: none;
}

#Contacto > form > input[type=submit]{
    width: 100%;
    background-color: #0400E9;
    color: white;
    font-family: "Poppins-Medium";
    letter-spacing: 1px;
}

@media(max-width: 1349px){
    #Contacto > form{
        width: 90%;
    }
}
@media(max-width: 1099px){
    #Contacto > form{
        padding:70px;
        height: 710px;
    }
}
@media(max-width: 739px){
    #Contacto > form{
        border-radius: 50px;
    }
    #Contacto > form > h2{
        font-size: 24px;    
        margin-bottom: 30px;
    }
}
@media(max-width: 639px){
    #Contacto > form{
        padding: 30px;
        align-items: center;
        height: auto;
    }
    #Contacto > form > h2{
        font-size: 20px;    
        margin-bottom: 30px;
    }
    #Contacto > form > div{
        flex-direction: column;
        position: relative;
        height: auto;
    }
    #Contacto > form > div > input{
        width: 100%;
    }
    #tel{
        margin-top: 30px;
    }
}