#Institucional{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
    padding-top: 150px;
}
.institucionalFondo1{
    background-image: url(../img/Backgrounds/forma_3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: -10px;
    top: 200px;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.institucionalFondo2{
    background-image: url(../img/Backgrounds/forma_4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: -10px;
    top: 600px;
    width: 400px;
    height: 800px;
    z-index: 1;
}
.institucional-1, .institucional-3, .institucional-3
{
    z-index: 2;
}
@media(max-width: 1099px){
        
    .institucionalFondo1{
        top: 200px;
        width: 200px;
        height: 200px;
    }
    .institucionalFondo2{
        top: 600px;
        width: 200px;
        height: 380px;
    }
}
@media(max-width: 799px){
        
    .institucionalFondo1{
        top: 200px;
        width: 100px;
        height: 100px;
    }
    .institucionalFondo2{
        top: 600px;
        width: 100px;
        height: 180px;
    }
}