
.institucional-1{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.institucional-1 > article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    margin-bottom: 100px;
}
.institucional-1 > article > aside{
    width: 500px;
    min-width: 500px;
    height: 400px;
    box-shadow: 50px 50px 99px #00000029;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.institucional-1-izq > aside{
    margin-right: 150px;
}
.institucional-1-der > aside {
    margin-left: 150px;
}
.institucional-1 > article > section{
    width: 400px;
}

.institucional-1 > article > section > h2{
    font-size: 32px;
    width: 280px;
}
.institucional-1 > article > section > p{
    font-size: 16px;
    line-height: 34px;
    margin-top: 20px;
}
.institucional-1-der > section > p{
    text-align: right;
}

@media(max-width: 1099px){
    .institucional-1 > article{
        width: 100%;
        max-width: 900px;
    }
    .institucional-1 > article > aside{
        width: 350px;
        min-width: 350px;
        height: 250px;
    }
    .institucional-1 > article > aside > img{
        max-width: 200px;
    }
    .institucional-1-izq > aside{
        margin-right: 70px;
    }
    .institucional-1-der > aside {
        margin-left: 70px;
    }
    .institucional-1 > article > section{
        width: 360px;
    }
    
    .institucional-1 > article > section > h2{
        font-size: 24px;
        width: 230px;
    }
    .institucional-1 > article > section > p{
        font-size: 12px;
        line-height: 24px;
    }
}

@media(max-width: 899px){
    .institucional-1 > article{
        width: 100%;
        max-width: 900px;
    }
    .institucional-1-izq > aside{
        margin-right: 50px;
    }
    .institucional-1-der > aside {
        margin-left: 50px;
    }
    .institucional-1 > article > section{
        width: 300px;
    }
    .institucional-1 > article > section > p{
        font-size: 12px;
        line-height: 20px;
    }
}

@media(max-width: 799px){
    .institucional-1 > article {
        flex-direction: column;
        width: 90%;
    }
    
    .institucional-1 > article > aside{
        width: 100%;
        max-width: 100%;
        height: 150px;
        margin-bottom: 80px;
    }
    .institucional-1 > article > section{
        width: 80%;
    }
    
    .institucional-1 > article > section > h2{
        font-size: 28px;
        text-align: center;
        width: 100%;
    }
    .institucional-1 > article > section > p{
        font-size: 16px;
        line-height: 34px;
        text-align: left;
    }
    .institucional-1 >.institucional-1-der{
        flex-direction: column-reverse;
        width: 90%;
    }
    .institucional-1-izq > aside{
        margin-right: 0px;
    }
    .institucional-1-der > aside {
        margin-left: 0px;
    }
}