.institucional-2{
    margin-top: 50px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
}
.institucional-2 > article{
    width: 300px;
    padding: 40px 40px;
}
.institucional-2 > article > img{
    width: 60px;
}
.institucional-2 > article > h2{
    font-size: 24px;
}
.institucional-2 > article > p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-family: "Poppins-Regular";
}
.institucional-2 > article:hover{
    box-shadow: 50px 50px 99px #00000029;
    cursor: pointer;
}
@media(max-width: 999px){
    .institucional-2 > article{
        width: 220px;
        margin: 20px 20px;
    }
    .institucional-2 > article > img{
        width: 40px;
    }
    .institucional-2 > article > h2{
        font-size: 18px;
    }
    .institucional-2 > article > p{
        font-size: 12px;
        line-height: 20px;
    }
}
@media(max-width: 799px){
    .institucional-2{
        justify-content: space-around;
    }
    .institucional-2 > article{
        width: 30%;
        margin: 0px;
    }
    .institucional-2 > article > h2{
        font-size: 18px;
    }
    .institucional-2 > article > p{
        font-size: 12px;
        line-height: 20px;
    }
}
@media(max-width: 699px){
    .institucional-2{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .institucional-2 > article{
        width: 90%;
        margin-bottom: 50px;
    }
    .institucional-2 > article > img{
        width: 60px;
    }
    .institucional-2 > article > h2{
        font-size: 22px;
    }
    .institucional-2 > article > p{
        font-size: 14px;
        line-height: 24px;
    }
}